{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        },
        {
            "files": "*.{yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
